@font-face{
    font-family: 'manrope-600';
    src:url("../fonts/Manrope-SemiBold.ttf");
}
@font-face{
    font-family: 'helvetica-neue-500';
    src:url("../fonts/HelveticaNeue-Medium.otf");
}
@font-face{
    font-family: 'helvetica-neue-700';
    src:url("../fonts/HelveticaNeue-Bold.otf");
}
@font-face{
    font-family: 'helvetica-neue-400';
    src:url("../fonts/HelveticaNeue-Regular.otf");
}
@font-face{
    font-family: 'helvetica-neue-400-italic';
    src:url("../fonts/HelveticaNeue-RegularItalic.otf");
}
@font-face{
    font-family: 'helvetica-neue-300';
    src:url("../fonts/HelveticaNeue-Light.otf");
}